
.boundary{
	height: 400px;
}


#snakeSelection_p{
	width: 200%;
	font-size: 45px;
	font-family: 'Oldenburg', cursive;
	position: relative;
	left: -120px;
}

#snakeSelection{
	width:20%;
	height: 100%;
	margin: auto;
	text-align: center;
	position: relative;
}

.selection{
	background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oldenburg', cursive;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin: 20px auto;
    padding: 15px 15px 15px 15px;
    /*font-smooth: never;*/
	/*-webkit-font-smoothing : none;*/
	display: block;
	text-align: middle
}
.selection:hover{
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}

#Recycle{
	background-color: #00BFFF;
}

#Recycle:hover{
	background-color: #fff;
	border: none;
	color: #00BFFF;
}

#Garbage{
	background-color: black;
}

#Garbage:hover{
	background-color: #fff;
	border: none;
	color: black;
}

#Compost{
	background-color: #3F9E4D;
}

#Compost:hover{
	background-color: #fff;
	border: none;
	color: #3F9E4D;
}

#Paper{
	background-color: #E9C2A6;
}

#Paper:hover{
	background-color: #fff;
	border: none;
	color: #E9C2A6
}

